* {
    box-sizing: border-box;
}
body {
    font-family: Tahoma, sans serif;
    line-height: 1.5;
}
.section {
    padding: 30px 10%;
}
.header {
    margin-top: 80px;
    text-align: center;
    font-size: 24px;
    color: #333333;
}
.header span {
    font-weight: 400;
    display: block;
}
.header strong {
    font-weight: 900;
    text-transform: uppercase;
}
.main {
    margin-top: 80px;
    text-align: center;
}
.video, .form {
    display: inline-block;
    vertical-align: top;
}
.form {
    border: 5px solid #2727d9;
    padding: 22px;
    margin-left: 30px;
    text-align: center;
}
.form input {
    width: 297px;
    padding: 17px;
    font-size: 18px;
    border: 1px solid #333333;
    margin-top: 10px;
    display: block;
}
.form-header {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.btn {
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    background-color: #2727d9;
    border: none;
    width: 297px;
    height: 55px;
    margin-top: 10px;
    display: block;
    margin: 11px auto;
}
.col {
    display: inline-block;
    text-align: center;
    margin: 10px 45px;
}
.feature-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
}
.feature {
    margin: 60px auto;
}